.r {
    color: lightblue;
    font-size: 50px;
}

.r {
    text-align: center;
}

.Ruslana1 {
    width: 290px;
    display: block;
    margin: 0 auto;
}

.feedbacks {
    width: 290px;
    display: block;
    margin: 0 auto;
}

.feedbacks1 {
    width: 390px;
    display: block;
    margin: 15px;
    margin-left: 15px;
}

.feedbacks2 {
    width: 390px;
    display: block;
    margin: 15px;
    margin-left: 200px;
}

.tu {
    font-style: oblique
}

.blue-square {
    background-color: rgb(145, 145, 245);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

hr {
    color: orange;
}

.rtr {
    font-style: oblique
}

.wer {
    margin-top: 20px;
}
.delta{
    text-align: center;
    background-color: rgb(44, 44, 85);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;

}