h1 {
    color: lightblue;
}

h1 {
    text-align: center;
}

.Ruslana1 {
    width: 290px;
    display: block;
    margin: 0 auto;
}

.feedbacks {
    width: 290px;
    display: block;
    margin: 0 auto;
}

.feedbacks1 {
    width: 290px;
    display: block;
    margin: 15px;
    margin-left: 15px;
}